<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gov.gzst.assessment.mapper.FinanceContractBudgetMapper">
    <select id="contractBudgetByProjectId" resultType="cn.gov.gzst.assessment.entity.FinanceContractBudget">
        select * from PGZX_CWPG_CONTRACT_BUDGET
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
